.App {
  text-align: center;
}

body{
  background-image: url('https://vieclam.shopdunk.com/wp-content/uploads/2017/05/ngam-hinh-anh-thien-nhien-bau-troi-trong-xanh-tuyet-dep-vo-cung-tuoi-sang-8.jpg');
}

.input{
  width: 50%;
  margin-left: 30%;
  margin-top: 1%;
}

.btnSearch{
  margin-top: 10px;
}

